@{
    ViewData["Title"] = "Uploadfile Page";
}
<h1>@ViewData["Title"]</h1>

@* <form action="Uploadfile" form asp-controller="Uploadfile" asp-action="Uploadfile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">File:</label>
        <input type="file" class="form-control-file" id="file" name="file" accept=".txt,.pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg,.png" required>
        <span class="text-danger">@Html.ValidationMessageFor(model => model.FileName)\</span>
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form> *@

<form asp-controller="Uploadfile" asp-action="Uploadfile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">File:</label>
        <input type="file" class="form-control-file" id="file" name="file" accept=".txt,.pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg,.png" required>
        @if (ViewData.ModelState.TryGetValue("FileName", out var modelStateEntry))
        {
            <span class="text-danger">@modelStateEntry.Errors.FirstOrDefault()?.ErrorMessage</span>
        }
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>

